<div class="container mt-4">
    <h4>Cadastrar Autor</h4>
    <form (ngSubmit)="onSave()" class="mt-5">
        <div class="form-group">
            <label for="description">Nome</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="author.name" name="description"
                placeholder="Digite o nome" maxlength="40">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Salvar</button>
    </form>

</div>

<div class="container mt-4">
    <h4>Lista de Autores</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <button class="btn" title="Editar" (click)="onEdit(author)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn" title="Remover" (click)="onDelete(author.id)"><i class="bi bi-trash" ></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>