<div class="container mt-4">
    <h4>Cadastrar Assunto</h4>
    <form (ngSubmit)="onSave()" class="mt-5">
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="subject.description" name="description"
                placeholder="Digite a descrição" maxlength="25">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Salvar</button>
    </form>

</div>

<div class="container mt-4">
    <h4>Lista de Assuntos</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ subject.id }}</td>
                <td>{{ subject.description }}</td>
                <td>
                    <button class="btn" title="Editar" (click)="onEdit(subject)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn" title="Remover" (click)="onDelete(subject.id)"><i class="bi bi-trash" ></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>